@page
@model SubscriptionModel
@{

    ViewData["Title"] = "Subscription";
    ViewData["ActivePage"] = ManageNavPages.Subscription;
}

    <div class="container">
        <h4>@ViewData["Title"]</h4>
        <input hidden  id="currentPlanValue" value="@Model.CurrentType" />
        <input hidden id="isCanceled" value="@Model.IsCanceled.ToString()" />

        <div class="information">
            @if (!String.IsNullOrEmpty(Model.StatusMessage))
            {
                <p class="alert alert-info">
                    @Model.StatusMessage
                </p>
            }
            <p class="currentplan">
                You are currently subscribed to the @Model.SubscriptionType.ToString() plan.
            </p>
            @if (Model.SubscriptionType != SubscriptionType.Starter && Model.IsCanceled == false)
            {
                <p class="expiration">
                    Your subscription will renew on @Model.Expiration.
                </p>
            }

            @if (Model.SubscriptionType != SubscriptionType.Starter && Model.IsCanceled)
            {
                <p class="cancelInfo">
                    Your subscription has been cancelled and will expire on @Model.Expiration.
                </p>
            }

        </div>
        <hr>

        <div class="upgrade">
            <h4>Change Plan</h4>
            <partial name="_ChangePlanPartial" />

            <form method="post">
                <div class="form-group">
                    <select hidden asp-for="Input.SubscriptionType" asp-items="Html.GetEnumSelectList<SubscriptionType>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>

        <hr>
        <div class="cancel">
            <h4>Cancel Subscription</h4>
            <br>
            <form method="post" >
                <div class="form-group col-md-4">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <input type="submit" class="btn btn-danger" asp-page-handler="CancelSubscription">
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}